aside {
  width: 320px;
  padding: 30px 20px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}

aside strong {
  display: block;
  font-size: 20px;
  color: #333;
  text-align: center;
}
